main#graphmain
    section#canvasArea
        #browserCheck.hidden
            | WebVOWL does not work properly in Internet Explorer and Microsoft Edge.
            | Please use another browser, such as
            a(href='http://www.mozilla.org/firefox/') Mozilla Firefox
            | &#x9;&#x9;&#x9;&#x9;or
            a(href='https://www.google.com/chrome/') Google Chrome
            | ,
            | &#x9;&#x9;&#x9;&#x9;to run WebVOWL.
            label#killWarning Hide warning
        // build:process
        #logo.noselect
            h2
                | WebVOWL
                br
                span 0.0.0
        // /build
        #loading-info.hidden
            #loading-progress(style='border-radius: 10px;')
                .hidden Loading ontology...
                #layoutLoadingProgressBarContainer(style='padding-bottom: 0;	white-space: nowrap;	overflow: hidden;	text-overflow: ellipsis;')
                    h4#currentLoadingStep(style='margin: 0;font-style: italic; padding-bottom:0 ;	white-space: nowrap;	overflow: hidden;	text-overflow: ellipsis;') Layout optimization
                    #progressBarContext
                        #progressBarValue.busyProgressBar
                #loadingInfo_msgBox(style='padding-bottom: 0;padding-top:0')
                    #show-loadingInfo-button.accordion-trigger.noselect Details
                    #loadingInfo-container
                        ul#bulletPoint_container
                div
                    span#loadingIndicator_closeButton Close Warning
        #additionalInformationContainer
            #reloadCachedOntology.hidden(title='')
                svg#reloadSvgIcon.reloadCachedOntologyIcon.btn_shadowed(viewbox='38 -12.5 18 18')
                    g
                        text#svgStringText(dx='5px', dy='-1px', style='font-size:9px;') Reload ontology
                        path(style='fill : #444; stroke-width:0;', d='m 42.277542,5.1367119 c -5.405,0 -10.444,1.577 -14.699,4.282 l -5.75,-5.75 0,16.1100001 16.11,0 -6.395,-6.395 c 3.18,-1.787 6.834,-2.82 10.734,-2.82 12.171,0 22.073,9.902 22.073,22.074 0,2.899 -0.577,5.664 -1.599,8.202 l 4.738,2.762 c 1.47,-3.363 2.288,-7.068 2.288,-10.964 0,-15.164 -12.337,-27.5010001 -27.5,-27.5010001 m 11.5,46.7460001 c -3.179,1.786 -6.826,2.827 -10.726,2.827 -12.171,0 -22.073,-9.902 -22.073,-22.073 0,-2.739 0.524,-5.35 1.439,-7.771 l -4.731,-2.851 c -1.375,3.271 -2.136,6.858 -2.136,10.622 0,15.164 12.336,27.5 27.5,27.5 5.406,0 10.434,-1.584 14.691,-4.289 l 5.758,5.759 0,-16.112 -16.111,0 6.389,6.388 z', transform='matrix(0.20,0,0,0.20,75,-10)')
                span#reloadCachedOntologyString.noselect(style='font-style: italic;font-size: 10px') Loaded cached ontology
            #FPS_Statistics.hidden.debugOption
                | FPS: 0
                br
                | Nodes: 0
                br
                | Links: 0
            span#modeOfOperationString.hidden.debugOption mode of operation
        #graph
        .noselect
            span#leftSideBarCollapseButton.btn_shadowed.hidden  &gt;
        .noselect
            span#sidebarExpandButton.btn_shadowed  &gt;
        #containerForLeftSideBar
            #leftSideBar
                #leftSideBarContent.hidden
                    h2#leftHeader Default Element
                    h3#defaultClass.selectedDefaultElement.accordion-trigger.noselect.accordion-trigger-active(title='owl:Class')
                        | Class: owl:Class
                    #classContainer.accordion-container
                    //h3#defaultProperty.selectedDefaultElement.accordion-trigger.noselect.accordion-trigger-active(title='owl:objectProperty')
                    //    | Property: owl:objectProperty
                    //#propertyContainer.accordion-container
                    //h3#defaultDatatype.selectedDefaultElement.accordion-trigger.noselect.accordion-trigger-active(title='rdfs:Literal')
                    //    | Datatype: rdfs:Literal
                    //#datatypeContainer.accordion-container
        #menuContainer
            // Ontology Menu
            //ul#m_select.toolTipMenu.noselect
            //    li
            //        a#foaf(href='#foaf') Friend of a Friend (FOAF) vocabulary
            //    li
            //        a#goodrelations(href='#goodrelations') GoodRelations Vocabulary for E-Commerce
            //    li
            //        a#muto(href='#muto') Modular and Unified Tagging Ontology (MUTO)
            //    li
            //        a#ontovibe(href='#ontovibe') Ontology Visualization Benchmark (OntoViBe)
            //    li
            //        a#personasonto(href='#personasonto') Personas Ontology (PersonasOnto)
            //    ligr
            //        a#sioc(href='#sioc') SIOC (Semantically-Interlinked Online Communities) Core Ontology
            //    // build:remove release
            //    li
            //        a#benchmark(href='#benchmark') Benchmark Graph for VOWL
            //    // /build
            //    li#converter-option.option
            //        form#iri-converter-form.converter-form
            //            label(for='iri-converter-input') Custom Ontology:
            //            input#iri-converter-input(type='text', placeholder='Enter ontology IRI')
            //            button#iri-converter-button(type='submit', disabled='') Visualize
            //        .converter-form
            //            input#file-converter-input.hidden(type='file', autocomplete='off')
            //            label#file-converter-label.truncate(for='file-converter-input') Select ontology file
            //            button#file-converter-button(type='submit', disabled='')
            //                | Upload
            //        #emptyContainer
            //            a#empty(href='#opts=editorMode=true;#new_ontology1', style='pointer-events:none; padding-left:0') Create new ontology
            //        div
            // Export Menu
            //ul#m_export.toolTipMenu.noselect
            //    li
            //        a#exportJson(href='#', download='') Export as JSON
            //    li
            //        a#exportSvg(href='#', download='') Export as SVG
            //    li
            //        a#exportTex(href='#', download='')
            //            | Export as TeX
            //            label(style='font-size: 10px') (alpha)
            //    li
            //        a#exportTurtle(href='#', download='')
            //            | Export as TTL
            //            label(style='font-size: 10px') (alpha)
            //    li#emptyLiHover.option
            //        div
            //            form#url-copy-form.converter-form
            //                label(for='exportedUrl') Export as URL:
            //                input#exportedUrl(type='text', placeholder='#')
            //                button#copyBt(title='Copy to clipboard') Copy
            // Filter Menu
            ul#m_filter.toolTipMenu.noselect
                li#datatypeFilteringOption.toggleOption
                li#objectPropertyFilteringOption.toggleOption
                li#subclassFilteringOption.toggleOption
                li#disjointFilteringOption.toggleOption
                li#setOperatorFilteringOption.toggleOption
                li#nodeDegreeFilteringOption.slideOption
            // Options Menu
            ul#m_config.toolTipMenu.noselect
                li#zoomSliderOption.toggleOption
                li#classSliderOption.slideOption
                li#datatypeSliderOption.slideOption
                li#dynamicLabelWidth.toggleOption
                li#maxLabelWidthSliderOption.slideOption
                li#nodeScalingOption.toggleOption
                li#compactNotationOption.toggleOption
                li#colorExternalsOption.toggleOption
            // Modes Menu
            ul#m_modes.toolTipMenu.noselect
                li#editMode.toggleOption
                li#selectionMode.toggleOption
                li#OMQMode.toggleOption
                li#pickAndPinOption.toggleOption
            // Debug Menu
            ul#m_debug.toolTipMenu.noselect
                li#useAccuracyHelper.toggleOption
                li#showDraggerObject.toggleOption
                li#showFPS_Statistics.toggleOption
                li#showModeOfOperation.toggleOption
            // About Menu
            ul#m_about.toolTipMenu
                li
                    a(href='license.txt', target='_blank') MIT License &copy; 2014-2019
                li#credits.option
                    | WebVOWL Developers:
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Vincent Link, Steffen Lohmann, Eduard Marbach, Stefan Negru, Vitalis Wiens
                // build:process
                li
                    a(href='http://vowl.visualdataweb.org/webvowl.html#releases', target='_blank')
                        | Version: 0.0.0
                        br
                        | (release history)
                // /build
                li
                    a(href='http://purl.org/vowl/', target='_blank') VOWL Specification &raquo;
            ul#m_search.toolTipMenu
        #swipeBarContainer.noselect
            ul#menuElementContainer
                li#c_save
                    a#save-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Save
                li#c_clear-select-sg
                    a#clear-select-sg-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Clear selection
                li#c_clear-query-omq
                    a#clear-query-omq-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Clear query
                li#c_get-features-omq
                    a#get-features-omq-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Get features
                li#c_generate-sparql-omq
                    a#generate-sparql-omq-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Generate SPARQL
                li#c_search.inner-addon.left-addon
                    i.searchIcon
                        svg(viewbox='0 0 24 24', height='100%', width='100%', style='pointer-events: none; display: block;')
                            g
                                path#magnifyingGlass(style='fill : #666; stroke-width:0;', d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z')
                    input#search-input-text.searchInputText(type='text', placeholder='Search')
                li#c_locate
                    a#locateSearchResult(style='padding: 0 8px 5px 8px;', draggable='false', title='Nothing to locate, enter search term.', href='#')
                        | &target;
                //li#c_select
                //    a(draggable='false', href='#')
                //        i
                //            svg.menuElementSvgElement(viewbox='0 0 24 24')
                //                g
                //                    path(style='fill : #fff; stroke-width:0;', d='M3 15h18v-2H3v2zm0 4h18v-2H3v2zm0-8h18V9H3v2zm0-6v2h18V5H3z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                //        |  Ontology
                //li#c_export
                //    a(draggable='false', href='#')
                //        i
                //            svg.menuElementSvgElement(viewbox='0 0 24 24')
                //                g
                //                    path(style='fill : #fff; stroke-width:0;', d='M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                //        |  Export
                li#c_filter
                    a(draggable='false', href='#')
                        i
                            svg.menuElementSvgElement(viewbox='0 0 24 24')
                                g
                                    path(style='fill : #fff; stroke-width:0;', d='M3 4l9 16 9-16H3zm3.38 2h11.25L12 16 6.38 6z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                        | Filter
                li#c_config
                    a(draggable='false', href='#')
                        i
                            svg.menuElementSvgElement(viewbox='0 0 24 24')
                                g
                                    path(style='fill : #fff; stroke-width:0;', d='m 21.163138,13.127428 0,-2.356764 -2.546629,-0.424622 C 18.439272,9.5807939 18.137791,8.8661419 17.733863,8.218291 L 19.2356,6.116978 17.569296,4.450673 15.466841,5.951269 C 14.818953,5.548483 14.104338,5.24586 13.33909,5.067482 l -0.424622,-2.545488 -2.356764,0 -0.424622,2.545488 C 9.3689769,5.24586 8.6531829,5.548519 8.0053319,5.951269 l -2.102455,-1.500596 -1.666304,1.666305 1.501737,2.101313 c -0.403928,0.6467469 -0.705409,1.3625029 -0.882646,2.127751 l -2.546629,0.424622 0,2.356764 2.546629,0.424622 c 0.177237,0.765248 0.478718,1.4799 0.882646,2.127751 l -1.501737,2.102455 1.666304,1.666304 2.103596,-1.501737 c 0.646747,0.403928 1.362504,0.705409 2.1266091,0.882646 l 0.424622,2.546629 2.356764,0 0.424622,-2.546629 c 0.764106,-0.177237 1.4799,-0.478718 2.127751,-0.882646 l 2.102455,1.501737 1.666304,-1.666304 -1.501737,-2.102455 c 0.403928,-0.647888 0.705409,-1.363645 0.882646,-2.127751 l 2.546629,-0.424622 z m -9.427053,3.535144 c -2.6030431,0 -4.7135241,-2.110517 -4.7135241,-4.713527 0,-2.6030071 2.110518,-4.713525 4.7135241,-4.713525 2.60301,0 4.713527,2.1105179 4.713527,4.713525 0,2.60301 -2.110481,4.713527 -4.713527,4.713527 z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                        | Options
                li#c_modes(style="display:none")
                    a(draggable='false', href='#')
                        i
                            svg.menuElementSvgElement(viewbox='0 0 24 24')
                                g
                                    path(style='fill : #fff; stroke-width:0;', d='M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                        | Modes
                li#c_reset
                    a#reset-button(draggable='false', href='#', type='reset')
                        i
                            svg.menuElementSvgElement(viewbox='0 0 24 24')
                                g
                                    path(style='fill : #fff; stroke-width:0;', d='m 12,5 0,-4 5,5 -5,5 0,-4 c -3.31,0 -6,2.69 -6,6 0,3.31 2.69,6 6,6 3.31,0 6,-2.69 6,-6 l 2,0 c 0,4.42 -3.58,8 -8,8 C 7.58,21 4,17.42 4,13 4,8.58 7.58,5 12,5 Z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                        | Reset
                li#c_pause
                    a#pause-button(draggable='false', href='#', style='padding: 9px 8px 12px 8px;') Pause
                li#c_debug.debugOption
                    a#debugMenuHref(draggable='false', href='#')
                        i
                            svg.menuElementSvgElement(viewbox='0 0 24 24')
                                g
                                    path(style='fill : #fff; stroke-width:0;', d='M 20,8 17.19,8 C 16.74,7.22 16.12,6.55 15.37,6.04 L 17,4.41 15.59,3 13.42,5.17 C 12.96,5.06 12.49,5 12,5 11.51,5 11.04,5.06 10.59,5.17 L 8.41,3 7,4.41 8.62,6.04 C 7.88,6.55 7.26,7.22 6.81,8 L 4,8 4,10 6.09,10 C 6.04,10.33 6,10.66 6,11 l 0,1 -2,0 0,2 2,0 0,1 c 0,0.34 0.04,0.67 0.09,1 L 4,16 l 0,2 2.81,0 c 1.04,1.79 2.97,3 5.19,3 2.22,0 4.15,-1.21 5.19,-3 l 2.81,0 0,-2 -2.09,0 C 17.96,15.67 18,15.34 18,15 l 0,-1 2,0 0,-2 -2,0 0,-1 c 0,-0.34 -0.04,-0.67 -0.09,-1 L 20,10 Z m -4,4 0,3 c 0,0.22 -0.03,0.47 -0.07,0.7 L 15.83,16.35 15.46,17 C 14.74,18.24 13.42,19 12,19 10.58,19 9.26,18.23 8.54,17 L 8.17,16.36 8.07,15.71 C 8.03,15.47 8,15.22 8,15 L 8,11 C 8,10.78 8.03,10.53 8.07,10.3 L 8.17,9.65 8.54,9 C 8.84,8.48 9.26,8.03 9.75,7.69 L 10.32,7.3 11.06,7.12 C 11.37,7.04 11.69,7 12,7 c 0.32,0 0.63,0.04 0.95,0.12 l 0.68,0.16 0.61,0.42 c 0.5,0.34 0.91,0.78 1.21,1.31 l 0.38,0.65 0.1,0.65 C 15.97,10.53 16,10.78 16,11 Z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;Debug
                //li#c_about
                //    a(draggable='false', href='#')
                //        i
                //            svg.menuElementSvgElement(viewbox='0 0 24 24')
                //                g
                //                    path(style='fill : #fff; stroke-width:0;', d='m 10.08,10.86 c 0.05,-0.33 0.16,-0.62 0.3,-0.87 0.14,-0.25 0.34,-0.46 0.59,-0.62 0.24,-0.15 0.54,-0.22 0.91,-0.23 0.23,0.01 0.44,0.05 0.63,0.13 0.2,0.09 0.38,0.21 0.52,0.36 0.14,0.15 0.25,0.33 0.34,0.53 0.09,0.2 0.13,0.42 0.14,0.64 l 1.79,0 C 15.28,10.33 15.19,9.9 15.02,9.51 14.85,9.12 14.62,8.78 14.32,8.5 14.02,8.22 13.66,8 13.24,7.84 12.82,7.68 12.36,7.61 11.85,7.61 11.2,7.61 10.63,7.72 10.15,7.95 9.67,8.18 9.27,8.48 8.95,8.87 8.63,9.26 8.39,9.71 8.24,10.23 8.09,10.75 8,11.29 8,11.87 l 0,0.27 c 0,0.58 0.08,1.12 0.23,1.64 0.15,0.52 0.39,0.97 0.71,1.35 0.32,0.38 0.72,0.69 1.2,0.91 0.48,0.22 1.05,0.34 1.7,0.34 0.47,0 0.91,-0.08 1.32,-0.23 0.41,-0.15 0.77,-0.36 1.08,-0.63 0.31,-0.27 0.56,-0.58 0.74,-0.94 0.18,-0.36 0.29,-0.74 0.3,-1.15 l -1.79,0 c -0.01,0.21 -0.06,0.4 -0.15,0.58 -0.09,0.18 -0.21,0.33 -0.36,0.46 -0.15,0.13 -0.32,0.23 -0.52,0.3 -0.19,0.07 -0.39,0.09 -0.6,0.1 C 11.5,14.86 11.2,14.79 10.97,14.64 10.72,14.48 10.52,14.27 10.38,14.02 10.24,13.77 10.13,13.47 10.08,13.14 10.03,12.81 10,12.47 10,12.14 l 0,-0.27 c 0,-0.35 0.03,-0.68 0.08,-1.01 z M 12,2 C 6.48,2 2,6.48 2,12 2,17.52 6.48,22 12,22 17.52,22 22,17.52 22,12 22,6.48 17.52,2 12,2 Z m 0,18 C 7.59,20 4,16.41 4,12 4,7.59 7.59,4 12,4 c 4.41,0 8,3.59 8,8 0,4.41 -3.59,8 -8,8 z', transform='matrix(0.75,0,0,0.75,3.5,2.5)')
                //        | &#x9;&#x9;&#x9;&#x9;About
        #scrollRightButton.noselect
        #scrollLeftButton.noselect
        #zoomSlider.btn_shadowed
            p#centerGraphButton.noselect &target;
            p#zoomInButton.noselect +
            p#zoomSliderParagraph.noselect
            p#zoomOutButton.noselect -
    aside#detailsArea(style='background-color: #18202A;')
        section#generalDetailsEdit.hidden
            h1#editHeader(style='font-size: 1.1em;') Editing Options
            h3.accordion-trigger.noselect.accordion-trigger-active Ontology
            div
                // begin of ontology metaData
                .textLineEditWithLabel
                    form#titleEditForm.converter-form-Editor
                        label#titleEditor-label.EditLabelForInput(for='titleEditor', title='Ontology title as dc:title') Title:
                        input#titleEditor.modifiedInputStyle(type='text', autocomplete='off', value='')
                .textLineEditWithLabel
                    form#iriEditForm.converter-form-Editor
                        label#iriEditor-label.EditLabelForInput(for='iriEditor') IRI:
                        input#iriEditor(type='text', autocomplete='off', value='')
                .textLineEditWithLabel
                    form#versionEditForm.converter-form-Editor
                        label#versionEditor-label.EditLabelForInput(for='versionEditor', title='Ontology version number as owl:versionInfo') Version:
                        input#versionEditor(type='text', value='', autocomplete='off')
                .textLineEditWithLabel
                    form#authorsEditForm.converter-form-Editor
                        label#authorsEditor-label.EditLabelForInput(for='authorsEditor', title='Ontology authors as dc:creator') Authors:
                        input#authorsEditor(type='text', value='', autocomplete='off')
                h4.subAccordion.accordion-trigger.noselect Prefix
                #containerForPrefixURL.subAccordionDescription
                    #prefixURL_Description
                        span.boxed Prefix
                        span.boxed IRI
                    #prefixURL_Container
                    #containerForAddPrefixButton(align='center')
                        button#addPrefixButton Add Prefix
            // end of ontology metaData
            h3.accordion-trigger.noselect Description
            div
                textarea#descriptionEditor.descriptionTextClass(rows='4', cols='25', title='Ontology description as dc:description')
            h3.accordion-trigger.noselect.accordion-trigger-active Selected Element
            div
                #selectedElementProperties.hidden
                    .textLineEditWithLabel
                        form#element_iriEditForm.converter-form-Editor
                            label#element_iriEditor-label.EditLabelForInput(for='element_iriEditor') IRI:
                            input#element_iriEditor(type='text', autocomplete='off', value='')
                    .textLineEditWithLabel
                        form#element_labelEditForm.converter-form-Editor
                            label#element_labelEditor-label.EditLabelForInput(for='element_labelEditor') Label:
                            input#element_labelEditor(type='text', autocomplete='off', value='')
                    .textLineEditWithLabel
                        form#typeEditForm.converter-form-Editor
                            label#typeEditor-label.EditLabelForInput(for='typeEditor') Type:
                            select#typeEditor.dropdownMenuClass
                        form#typeEditForm_datatype.converter-form-Editor
                            label#typeEditor_datatype-label.EditLabelForInput(for='typeEditor_datatype') Datatype:
                            select#typeEditor_datatype.dropdownMenuClass
                    #property_characteristics_Container.textLineEditWithLabel
                        | Characteristics:
                        #property_characteristics_Selection(style='padding-top:2px;')
                #selectedElementPropertiesEmptyHint
                    | Select an element in the visualization.
        section#generalDetails.hidden
            h1#title
            span
                a#about(href='')
            h5
                | Version:
                span#version
            h5
                | Author(s):
                span#authors
            h5
                label
                    | Language:
                    select#language(name='language', size='1')
            h3.accordion-trigger.noselect.accordion-trigger-active Description
            .accordion-container.scrollable
                p#description
            h3.accordion-trigger.noselect Metadata
            #ontology-metadata.accordion-container
            h3.accordion-trigger.noselect Statistics
            .accordion-container
                p.statisticDetails
                    | Classes:
                    span#classCount
                p.statisticDetails
                    | Object prop.:
                    span#objectPropertyCount
                p.statisticDetails
                    | Datatype prop.:
                    span#datatypePropertyCount
                .small-whitespace-separator
                p.statisticDetails
                    | Individuals:
                    span#individualCount
                .small-whitespace-separator
                p.statisticDetails
                    | Nodes:
                    span#nodeCount
                p.statisticDetails
                    | Edges:
                    span#edgeCount
            h3#selection-details-trigger.accordion-trigger.noselect Selection Details
            #selection-details.accordion-container
                #classSelectionInformation.hidden
                    p.propDetails
                        | Name:
                        span#name
                    p.propDetails
                        | Type:
                        span#typeNode
                    p.propDetails
                        | Equiv.:
                        span#classEquivUri
                    p.propDetails
                        | Disjoint:
                        span#disjointNodes
                    p.propDetails
                        | Charac.:
                        span#classAttributes
                    p.propDetails
                        | Individuals:
                        span#individuals
                    p.propDetails
                        | Description:
                        span#nodeDescription
                    p.propDetails
                        | Comment:
                        span#nodeComment
                #propertySelectionInformation.hidden
                    p.propDetails
                        | Name:
                        span#propname
                    p.propDetails
                        | Type:
                        span#typeProp
                    p#inverse.propDetails
                        | Inverse:
                        span
                    p.propDetails
                        | Domain:
                        span#domain
                    p.propDetails
                        | Range:
                        span#range
                    p.propDetails
                        | Subprop.:
                        span#subproperties
                    p.propDetails
                        | Superprop.:
                        span#superproperties
                    p.propDetails
                        | Equiv.:
                        span#propEquivUri
                    p#infoCardinality.propDetails
                        | Cardinality:
                        span
                    p#minCardinality.propDetails
                        | Min. cardinality:
                        span
                    p#maxCardinality.propDetails
                        | Max. cardinality:
                        span
                    p.propDetails
                        | Charac.:
                        span#propAttributes
                    p.propDetails
                        | Description:
                        span#propDescription
                    p.propDetails
                        | Comment:
                        span#propComment
                #noSelectionInformation
                    p
                        span Select an element in the visualization.
            h3#OMQ-accordion-trigger.accordion-trigger.noselect Projected Features
            #OMQ-accordion-container.accordion-container
                #OMQ-projected-features
                    select#projectedFeatures.form-control(type='text', name='projectedFeatures[]', multiple="multiple")
    #blockGraphInteractions.hidden
    #WarningErrorMessagesContainer
        #WarningErrorMessages
    #AlertMessagesContainer
        #AlertMessages
    #DirectInputContent.hidden
        #direct-text-input-container
            textarea#directInputTextArea.directTextInputStyle(rows='4', cols='25', title='Direct Text input as JSON(experimental)')
            #di_controls
                ul
                    li
                        button#directUploadBtn Upload
                    li
                        button#close_directUploadBtn Close
                    li#Error_onLoad.hidden Some text if ERROR
    #dataModal.modal.fade(tabindex="-1" role="dialog")
        .modal-dialog.modal-lg.modal-dialog-centered(role="document",style="max-width: 90%;")
            .modal-content
                .modal-header
                    h5.modal-title Ontology-Mediated Query Execution
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body(style="position:relative;text-align:center;")
                    span#spinner.fa.fa-spinner.fa-spin(style="font-size: 128px;")
                    table#dataTable.table.table-striped.table-hover(style="display:none")
                        thead.thead-dark
                            tr
                        tbody