.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.settings/
.loadpath
.recommenders
.DS_Store
MDM_TDBMDM_TDB/
out/
sqlite

# Eclipse Core
.project

# sbteclipse plugin
.target

build/
gradle/
gradlew
gradlew.bat

.gradle
.idea/
classes

BolsterMetadataStorageBolsterMetadataStorage/
settings.gradle



Output/*
Output/logmap/*

# exception to the rule
!Output/README.md
!Output/logmap/
!Output/logmap/README.md

sqlite

out
out/*

MDM_TDB
MDM_TDB/*