.remove-margin {
    margin: 0px;
}
.remove-padding{
    padding: 0px;
}

table {
    table-layout: fixed;
}

.accept-reject-buttons{
    width: 100px;
}

.confidence-td{
    width: 180px;
}

#footerBottom{
    margin-bottom: 20px;
}
.badge-margin {
    margin-left: 10px;
}
.remove-top-padding{
    padding-top: 0px;
}