body {
  padding: 100px;
}

a {
  color: #00B7FF;
}

svg.line-graph {
  fill: white;
}

svg.line-graph text {
  cursor: default;
}

svg.line-graph .hover-line {
  stroke: #6E7B8B;
}

.line #series_0 {
  stroke: yellow;
}

svg.line-graph .hide {
  opacity: 0;
}

svg.line-graph .axis {
  shape-rendering: crispEdges;
}

svg.line-graph .x.axis line {
  stroke: #D3D3D3;
}

svg.line-graph .x.axis .minor {
  stroke-opacity: .5;
}

svg.line-graph .x.axis path {
  display: none;
}

svg.line-graph .x.axis text {
  font-size: 14px;
}

svg.line-graph .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

svg.line-graph .y.axis text {
  font-size: 16px;
}

svg.line-graph .scale-button:not(.selected):hover {
  text-decoration: underline;
  cursor: pointer !important;
}

svg.line-graph .date-label {
  fill: white;
  font-size: 16px;
}

svg.line-graph .legend {
  fill: white;
  font-size: 14px;
}

.circle_green {
  border: 1px solid #a1a1a1;
  padding: 10px 10px;
  background: green;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

.circle_red {
  border: 1px solid #a1a1a1;
  padding: 10px 10px;
  background: red;
  width: 3px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

.container {
  width: 75%;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.inf {
  color: white;
}
.flt {
  color: black
}
.flt_multi {
  color: black
}
.mdiv {
  color: white;
}
.rspg {
  color: black;
}
.pgSlc {
  color: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

a {
  color: black;
}