extends layout_iframe
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/live_data_feeds.css')

    script(src='/js/jquery-ui/jquery-ui.js')
    script(src='/js/d3.v3.min.js')
    script(src='/js/d3.tip.v0.6.3.js')
    script(src='/js/line-graph.js')
    script(src='/js/socket.io.js')
    script(src='/js/client_data_source_statistics.js')

block content

    button#refreshButton.btn.btn-primary.btn-xs(type='submit') Refresh
    .bs-component
        .row
            #allPlots
