extends layout

block content
  .container-fluid
    .jumbotron
      h1.display-4 ODIN: A Dataspace Management System
      p.lead
        | We demonstrate ODIN, a tool supporting the automatic incremental evolution of dataspaces from data sources, as well as user-friendly querying mechanisms. We describe some of its characteristics and underlying assumptions, including the kind of interactions offered by the system. Odin’s novelty lies in including users on the loop, and use their feedback for ontology merging. The on-site demonstration will feature an ongoing project with the World Health Organization (WHO).
      //p.lead
        | This work is partly supported by the H2020 SUPERSEDE project, funded by the EU Information and Communication Technologies Programme under grant agreement no 644018, and the GENESIS project, funded by the Spanish Ministerio de Ciencia e Innovación under project TIN2016-79269-R.
        .row.justify-content-center
          .col-4(style="padding-top: 50")
            img(src="public/cropped-SupersedeLogo_outline.png" height="45")
          .col-4
            img(src="public/genesislogo.png" height="150")
