doctype html
html
  head
    title="Bolster | MDM"
    script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/underscore-1.8.3.min.js')
    script(src='/js/bootswatch.js')
    script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')
    block headers


  block content