doctype html
html
  head
    title="MDM"
    script(src='/js/jquery-3.3.1.min.js')
    //script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/underscore-1.8.3.min.js')
    //script(src='/js/bootswatch.js')
    //script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fontawesome-all.js')
    //link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')

  block headers
  block content