doctype html
html
  head
    title="MDM"
    block headersGraphs
    script(src='/js/jquery-3.3.1.min.js')
    //script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/underscore-1.8.3.min.js')
    //script(src='/js/bootswatch.js')
    //script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/js/popper.js")
    script(src="/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/fontawesome-all.js')
    //link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')
    script(src='/js/client_button_instructions.js')
    link(rel='stylesheet', href='/stylesheets/introjs.min.css')
    block headers

  body
    .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark.just
      .container-fluid.font-increaser
        a.width20(href='/')
          img.logo.d-inline-block.align-top.zoom(src='/images/OnDemandDI.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-main', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbar-main.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mr-5
            li.nav-item
              a.nav-link(href='/bdi')
                | Automatic Bootstrapping
                span.sr-only (current)
            li.nav-item
              .dropdown
                a.nav-link(href='/')#dropdownMenu2.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Manual Bootstrapping
                .dropdown-menu.dropdown-menu-Bootstrapping(aria-labelledby='dropdownMenu2')
                  h6.dropdown-header.bg-light.dropdown-header-Bootstrapping Global Graph
                  a.dropdown-item(href='/new_global_graph') Create
                  a.dropdown-item(href='/manage_global_graphs') Manage
                  .dropdown-divider
                  h6.dropdown-header.bg-light.dropdown-header-Bootstrapping  Data Sources
                  a.dropdown-item(href='/new_data_source') Create
                  a.dropdown-item(href='/manage_data_sources') Manage
                  .dropdown-divider
                  h6.dropdown-header.bg-light.dropdown-header-Bootstrapping  Wrappers
                  a.dropdown-item(href='/new_wrapper') Create
                  a.dropdown-item(href='/manage_wrappers') Manage
                  .dropdown-divider
                  h6.dropdown-header.bg-light.dropdown-header-Bootstrapping  LAV Mappings
                  a.dropdown-item(href='/new_lav_mapping') Create
                  a.dropdown-item(href='/manage_lav_mappings') Manage

            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
                | Ontology-Mediated Queries
                span.caret
              .dropdown-menu(aria-labelledby="themes")
                a.dropdown-item.text-center(href='/pose_omq') Pose OMQ

            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
                | Signed in as #{user.username}
              .dropdown-menu(aria-labelledby="themes")
                a.dropdown-item(href='/logout') Logout


  block content