doctype html
html
  head
    title="Bolster | MDM"
    script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/underscore-1.8.3.min.js')
    script(src='/js/bootswatch.js')
    script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')
    block headers

  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/') MDM
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
          span.icon-bar
          span.icon-bar
          span.icon-bar

      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            h5
              span.badge Data Management

        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Releases
              span.caret
            ul.dropdown-menu(aria-labelledby='release')
              li
                a(href='/new_release') New Release
              li
                a(href='/manage_releases') Manage Releases

        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Big Data Integration Ontology
              span.caret
            ul.dropdown-menu(aria-labelledby='release')
              li
                a(href='/new_bdi_ontology') New BDI Ontology
              li
                a(href='/manage_bdi_ontologies') Manage BDI Ontologies

        ul.nav.navbar-nav
          li
            h5
              span.badge Data Analysis
               
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Signed in as #{user.username}
              span.caret
            ul.dropdown-menu(aria-labelledby='username')
              li
                a(href='/logout') Logout
  block content