extends layout_nologin
block headers
    script(src='/js/client_user_login.js')
block content
    #hiddenMessage(style='display:none') #{message}
    #alertBox.bs-component(style='display:none')
        .alert.alert-dismissible.alert-danger
            button.close(type='button', data-dismiss='alert') &times;
            strong Error:
            span#alertBoxText

    .row.justify-content-center
        .col-6.bs-component.center-card
            .login-shadow.top-green.p-3.mb-5.bg-white.rounded
                div.loginLogoDiv
                    img.loginLogo.d-inline-block.align-top(src='/images/OnDemandDI-Black.png')
                .panel.panel-default
                    .panel-heading
                        h4.panel-title Please Login
                    .panel-body
                        form(action='/login',method='post')

                            .form-group
                                .input-group.mb-2.mr-sm-2
                                    .input-group-prepend
                                        .input-group-text
                                            i.fas.fa-user
                                    input.form-control(id='username',type='text',value='', name='username', placeholder='Username')

                            .form-group
                                .input-group.mb-2.mr-sm-2
                                    .input-group-prepend
                                        .input-group-text
                                            i.fas.fa-lock
                                    input.form-control(id='password', type='password',value='', name='password', placeholder='password')
                            .checkbox
                                label
                                    input(name='remember', type='checkbox', value='Remember Me')
                                    |  Remember Me
                                    //a.pull-right(href='/forgot') Forgot Password?
                            input(id='clientId', type='hidden',value='#{clientId}', name='clientId')
                            input(id='redirectUri', type='hidden',value='#{redirectUri}', name='redirectUri')
                            input.btn.btn-info.btn-block(type='submit', value='Login')
                br
                .text-center
                    a.text-danger(href='/registration') Don&apos;t have an account? Register

                br
                //br
                //.row
                    .col-md-12.col-md-offset-2
                        img.img-thumbnail(src='/images/supersede.png')