extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_manage_data_sources.js')
    link(rel='stylesheet', href='/stylesheets/manage_styles.css')


block content
    .container-fluid
        .card.bg-secondary.mb-3
            .card-header
                .row
                    .col-md-11
                        h2(style="color:black")
                            | Manage Data Sources

        .card.bg-secondary.mb-3
            form
                table.table.table-hover#dataSources
                    thead
                        tr
                            th #
                            th Name
                            th Type
                            th #Wrappers
                            th View Metadata
                            th View Source Graph
                            th Delete
                    tbody
    #confirm-delete.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h4#myModalLabel.modal-title Confirm Delete
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                    p You are about to delete a Data Source which also deletes its related Wrappers and LAVMapping.
                    p This procedure is irreversible.
                    p Do you want to proceed?
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') Cancel
                    a#deleteBtn.btn.btn-danger.btn-ok Delete