extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_manage_wrappers.js')
    link(rel='stylesheet', href='/stylesheets/manage_styles.css')


block content
    .container-fluid
        .card.bg-secondary.mb-3
            .card-header
                .row
                    .col-md-11
                        h2(style="color:black")
                            | Manage Wrappers

        .card.bg-secondary.mb-3
            form
                table.table.table-hover#wrappers
                    thead
                        tr
                            th #
                            th Name
                            th Data Source
                            th View Metadata
                    tbody