extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_manage_lav_mappings.js')
    link(rel='stylesheet', href='/stylesheets/manage_styles.css')


block content
    .container-fluid
        .card.bg-secondary.mb-3
            .card-header
                .row
                    .col-md-11
                        h2(style="color:black")
                            | Manage LAV Mappings

        .card.bg-secondary.mb-3
            form
                table.table.table-hover#LAVMappings
                    thead
                        tr
                            th #
                            th Wrapper
                            th Global Graph
                            th owl:sameAs
                            th Covered Subgraph
                    tbody