extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_new_data_source.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container-fluid
        .card.bg-secondary.mb-3
            .card-header
                .row
                    .col-md-11
                        h2(style="color:black")
                            | New Data Source
                    .col-md-1
                        button.btn.btn-link(data-toggle="collapse" data-target="#instructions")#instructionsButton
                            i.fas.fa-chevron-circle-down.fa-3x(style="color:black")
            #instructions.collapse(aria-labelledby="headingOne" data-parent="#accordion")
                .card-body
                    p.card-text(style='text-align: left')
                        | Data sources represent external endpoints where to fetch data from. We support connection to classic databases (e.g., SQL databases), NOSQL stores (e.g., document stores) and REST APIs.

        .card.bg-secondary.mb-3
            form#dataSourceForm
                .form-group#nameForm
                    label.col-lg-4.col-form-label Name
                    .col-lg-12
                        input#name.form-control(type='text', name='name', required='required')
                
                .form-group#typeForm
                    label.col-lg-4.col-form-label Type
                    .col-lg-12
                        ul#typeTabs.nav.nav-tabs(role="tablist")
                            li.nav-item
                                a.text-primary#avro-tab.nav-link.active(data-toggle="tab" href="#avro" role="tab" aria-controls="profile" aria-selected="false") Avro
                            li.nav-item
                                a.text-primary#json-tab.nav-link(data-toggle="tab" href="#json" role="tab" aria-controls="messages" aria-selected="false") JSON file
                            li.nav-item
                                a.text-primary#mongodb-tab.nav-link(data-toggle="tab" href="#mongodb" role="tab" aria-controls="home" aria-selected="true") MongoDB
                            li.nav-item
                                a.text-primary#neo4j-tab.nav-link(data-toggle="tab" href="#neo4j" role="tab" aria-controls="home" aria-selected="true") Neo4j
                            li.nav-item
                                a.text-primary#parquet-tab.nav-link(data-toggle="tab" href="#parquet" role="tab" aria-controls="home" aria-selected="true") Parquet
                            li.nav-item
                                a.text-primary#restapi-tab.nav-link(data-toggle="tab" href="#restapi" role="tab" aria-controls="messages" aria-selected="false") REST API
                            li.nav-item
                                a.text-primary#sqldatabase-tab.nav-link(data-toggle="tab" href="#sqldatabase" role="tab" aria-controls="settings" aria-selected="false") SQL Database
                
                .tab-content
                    #avro.tab-pane.active
                        .form-group#avro_pathForm
                            label.col-lg-4.col-form-label Avro path (with protocol)
                            .col-lg-12
                                input#file_path.form-control(type='text', name='avro_path', required='required')
                
                    #mongodb.tab-pane(role="tabpanel" aria-labelledby="mongodb-tab")
                        .form-group#mongodb_hostnameForm
                            label.col-lg-4.col-form-label Connection string
                            .col-lg-12
                                input#mongodb_connectionString.form-control(type='text', name='mongodb_connectionString', required='required')
                        .form-group#mongodb_databaseForm
                            label.col-lg-4.col-form-label Database
                            .col-lg-12
                                input#mongodb_database.form-control(type='text', name='mongodb_database', required='required')
                
                    #neo4j.tab-pane
                
                    #parquet.tab-pane
                        .form-group#parquet_pathForm
                            label.col-lg-4.col-form-label Parquet path (with protocol)
                            .col-lg-12
                                input#parquet_path.form-control(type='text', name='parquet_path', required='required')
                
                    #restapi.tab-pane(role="tabpanel" aria-labelledby="restapi-tab")
                        .form-group#restapi_urlForm
                            label.col-lg-4.col-form-label URL
                            .col-lg-12
                                input#restapi_url.form-control(type='text', name='restapi_url', required='required')
                        .form-group#restapi_formatForm
                            label.col-lg-4.col-form-label Format
                            .col-lg-12
                                select#restapi_format.form-control(type='text', name='restapi_url', required='required')
                                    option(selected="" value="json") Flat JSON
                                    option(value="yaml") YAML (N/A)
                                    option(value="xml") XML (N/A)
                
                    #json.tab-pane
                        .form-group#json_pathForm
                            label.col-lg-4.col-form-label File path
                            .col-lg-12
                                input#json_path.form-control(type='text', name='json_path', required='required')
                
                    #sqldatabase.tab-pane(role="tabpanel" aria-labelledby="sqldatabase-tab")
                        .form-group#sql_jdbcForm
                            label.col-lg-4.col-form-label JDBC
                            .col-lg-12
                                input#sql_jdbc.form-control(type='text', name='name', required='required')
                
                .form-group
                    .col-lg-12.col-lg-offset-2
                        button#submitDataSource.btn.btn-primary.btn-lg.btn-block(type="submit") Submit