extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_new_statistical_analysis_model.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 New Statistical Analysis Model
                    br

            .container-fluid
                .col-lg-8
                    .well.bs-component
                        form#statisticalAnalysisModelForm(role='form').form-horizontal
                            .form-group#nameForm
                                label.col-lg-2.control-label(for='name') Name
                                .col-lg-10
                                    input#name.form-control(type='text', name='name', required='required')

                            .form-group#releaseForm
                                label.col-lg-2.control-label(for='releases') Releases
                                .col-lg-10
                                    select#releases(style="width:100%")

                            .form-group#statisticalAnalysisModelTypeForm
                                label.col-lg-2.control-label(for='statisticalAnalysisModelType') Type
                                .col-lg-10
                                    select#statisticalAnalysisModelType(style="width:100%")

                            .form-group
                                .col-lg-10.col-lg-offset-2
                                    button#submit_statisticalanalysismodel.btn.btn-primary.btn-lg.btn-block(type='submit') Submit