extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_new_release.js')
    link(href='/js/jsoneditor/jsoneditor.min.css', rel='stylesheet', type='text/css')
    script(src='/js/jsoneditor/jsoneditor.min.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 New Release
                    br

            .container-fluid
                .col-lg-8
                    .well.bs-component
                        form#releaseForm(role='form').form-horizontal
                            .form-group#eventForm
                                label.col-lg-2.control-label(for='event') Event
                                .col-lg-10
                                    input#event.form-control(type='text', name='event', required='required')

                            .form-group#schemaVersionForm
                                label.col-lg-2.control-label(for='schemaVersion') Schema Version
                                .col-lg-10
                                    input#schemaVersion.form-control(type='text', name='schemaVersion', required='required')

                            .form-group#jsonInstancesForm
                                label.col-lg-2.control-label(for='jsoneditor') JSON Instances
                                .col-lg-10
                                    #jsoneditor(style='width: 100%; height: 400px;')

                            .form-group#kafkaTopicForm
                                label.col-lg-2.control-label(for='kafkaTopic') (Opt.) Kafka Topic
                                .col-lg-10
                                    input#kafkaTopic.form-control(type='text', name='kafkaTopic', required='required')

                            .form-group#dispatchForm
                                label.col-lg-2.control-label(for='dispatch') Dispatch to Data Lake
                                .col-lg-10
                                    input#dispatch(type='checkbox').checkbox

                            .form-group#dispatcherStrategyForm
                                label.col-lg-2.control-label(for='dispatcherStrategy') Dispatcher Strategy
                                .col-lg-10
                                    select#dispatcherStrategy(style="width:100%")

                            .form-group
                                .col-lg-10.col-lg-offset-2
                                    button#submitRelease.btn.btn-primary.btn-lg.btn-block(type='submit') Submit