extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_new_data_source.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 New Data Source
                    br

                .col-lg-8
                    .card.bg-secondary.mb-3
                        form#dataSourceForm
                            .form-group#nameForm
                                label.col-lg-4.col-form-label Name
                                .col-lg-12
                                    input#name.form-control(type='text', name='name', required='required')

                            .form-group#typeForm
                                label.col-lg-4.col-form-label Type
                                .col-lg-12
                                    ul#typeTabs.nav.nav-tabs(role="tablist")
                                        li.nav-item
                                            a.text-primary#file-tab.nav-link.active(data-toggle="tab" href="#file" role="tab" aria-controls="profile" aria-selected="false") File
                                        li.nav-item
                                            a.text-primary#mongodb-tab.nav-link(data-toggle="tab" href="#mongodb" role="tab" aria-controls="home" aria-selected="true") MongoDB
                                        li.nav-item
                                            a.text-primary#restapi-tab.nav-link(data-toggle="tab" href="#restapi" role="tab" aria-controls="messages" aria-selected="false") REST API
                                        li.nav-item
                                            a.text-primary#sqldatabase-tab.nav-link(data-toggle="tab" href="#sqldatabase" role="tab" aria-controls="settings" aria-selected="false") SQL Database

                            .tab-content
                                #file.tab-pane.active(role="tabpanel" aria-labelledby="file-tab")
                                    .form-group#file_pathForm
                                        label.col-lg-4.col-form-label File path (with protocol)
                                        .col-lg-12
                                            input#file_path.form-control(type='text', name='file_path', required='required')
                                    .form-group#file_formatForm
                                        label.col-lg-4.col-form-label Format
                                        .col-lg-12
                                            select#file_format.form-control(type='text', name='file_format', required='required')
                                                option(selected="" value="avro") Avro (N/A)
                                                option(value="parquet") Parquet
                                                option(value="plaintext") Plain text (N/A)
                                                option(value="sequencefile") SequenceFile (N/A)

                                #mongodb.tab-pane(role="tabpanel" aria-labelledby="mongodb-tab")
                                    .form-group#mongodb_hostnameForm
                                        label.col-lg-4.col-form-label Hostname
                                        .col-lg-12
                                            input#mongodb_hostname.form-control(type='text', name='mongodb_hostname', required='required')
                                    .form-group#mongodb_portForm
                                        label.col-lg-4.col-form-label Port
                                        .col-lg-12
                                            input#mongodb_port.form-control(type='text', name='mongodb_port', required='required')
                                    .form-group#mongodb_usernameForm
                                        label.col-lg-4.col-form-label Username
                                        .col-lg-12
                                            input#mongodb_username.form-control(type='text', name='mongodb_username', required='required')
                                    .form-group#mongodb_passwordForm
                                        label.col-lg-4.col-form-label Password
                                        .col-lg-12
                                            input#mongodb_password.form-control(type='password', name='mongodb_password', required='required')
                                    .form-group#mongodb_databaseForm
                                        label.col-lg-4.col-form-label Database
                                        .col-lg-12
                                            input#mongodb_database.form-control(type='text', name='mongodb_database', required='required')

                                #restapi.tab-pane(role="tabpanel" aria-labelledby="restapi-tab")
                                    .form-group#restapi_urlForm
                                        label.col-lg-4.col-form-label URL
                                        .col-lg-12
                                            input#restapi_url.form-control(type='text', name='restapi_url', required='required')
                                    .form-group#restapi_formatForm
                                        label.col-lg-4.col-form-label Format
                                        .col-lg-12
                                            select#restapi_format.form-control(type='text', name='restapi_url', required='required')
                                                option(selected="" value="json") Flat JSON
                                                option(value="yaml") YAML (N/A)
                                                option(value="xml") XML (N/A)

                                #sqldatabase.tab-pane(role="tabpanel" aria-labelledby="sqldatabase-tab")
                                    .form-group#sql_jdbcForm
                                        label.col-lg-4.col-form-label JDBC
                                        .col-lg-12
                                            input#sql_jdbc.form-control(type='text', name='name', required='required')


                            .form-group
                                .col-lg-12.col-lg-offset-2
                                    button#submitDataSource.btn.btn-primary.btn-lg.btn-block(type="submit") Submit