extends layout
block headersGraphs
    script(src='/js/metamodel.js')
    link(rel='stylesheet', type='text/css', href='graph/css/webvowl.css')
    link(rel='stylesheet', type='text/css', href='graph/css/webvowl.app.css')

block headers
    link(rel='stylesheet', href='/js/highlight/styles/railscasts.css')
    script(src='/js/highlight/highlight.pack.js')
    link(rel='stylesheet', href='/stylesheets/tabulator_semantic-ui.min.css')
    script(src='/js/tabulator.min.js')
block content
    include includes/webvowl
    script(src='graph/js/d3.min.js')
    script(src='graph/js/webvowl.js')
    script(src='graph/js/webvowl.app.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js')
    script(src='/js/xlsx.full.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.10/jspdf.plugin.autotable.min.js')
    script(src="/js/popper.js")
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')
    script.
        window.onload = webvowl.app().initialize("omq");