extends layout
block headersGraphs
    script(src='/js/metamodel.js')
    link(rel='stylesheet', type='text/css', href='graph/css/webvowl.css')
    link(rel='stylesheet', type='text/css', href='graph/css/webvowl.app.css')

block headers
    //link(rel='stylesheet', href='/stylesheets/loading.css')
    //link(rel='stylesheet', href='/stylesheets/global_graph.css')
    //script(src='/js/client_view_lav_mapping_subgraph.js')
    //script(src='/js/client_view_lav_mapping_subgraph_d3.js')

    link(rel='stylesheet', href='/js/highlight/styles/railscasts.css')
    script(src='/js/highlight/highlight.pack.js')
block content
    include includes/webvowl
    script(src='graph/js/d3.min.js')
    script(src='graph/js/webvowl.js')
    script(src='graph/js/webvowl.app.js')
    script.
        window.onload = webvowl.app().initialize("mappings_Graph_select");