extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/domain_ontology.css')
    script(src='/js/d3.min.js')
    script(src='/js/cola.d3.min.js')
    script(src='/js/client_view_domain_ontology.js')
    script(src='/js/client_view_domain_ontology_d3.js')

    link(rel='stylesheet', href='/js/highlight/styles/railscasts.css')
    script(src='/js/highlight/highlight.pack.js')
block content


    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 View Domain Ontology
                    h3
                        #theTitle
                    h4
                        #theURL

            #domainOntologyWrapper

            pre#text
                code.xml#xml