extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/source_graph.css')
    script(src="https://d3js.org/d3.v4.min.js")
    //script(src='/js/d3.min.js')
    //script(src='/js/cola.d3.min.js')
    script(src='/js/client_view_queries.js')
    script(src='/js/client_view_queries_d3.js')

    link(rel='stylesheet', href='/js/highlight/styles/railscasts.css')
    script(src='/js/highlight/highlight.pack.js')
block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 View queries
                    h3
                        #theTitle
                    h4
                        #theURL

    .row
        .col.col-md-8
            svg(width=960, height=600)#sourceLevelWrapper

        .col.col-md-4
            button#generateQuery.btn.btn-primary.btn-lg.btn-block(type='submit') Generate SPARQL
            input.textarea#algebraText(readonly="", size=40)