extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_view_eca_rule.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 View ECA Rule
                    br

            .container-fluid
                .col-lg-9
                    .well.bs-component
                        form#ecaRuleForm(role='form').form-horizontal
                            .form-group#nameForm
                                label.col-lg-2.control-label(for='name') Name
                                .col-lg-10
                                    input#name.form-control(type='text', name='name', required='required',readonly='')

                            .form-group#bdiOntologyForm
                                label.col-lg-2.control-label(for='bdiOntology') Pattern
                                .col-lg-10
                                    input#bdiOntology.form-control(type='text',style="width:100%",required='required',readonly='')

                            .form-group
                                label.col-lg-2.control-label(for='condition') Condition
                                .col-lg-10
                                    input#condition.form-control(type='text',style="width:100%",required='required',readonly='')

                            .form-group#filters
                                label.col-md-2.control-label Filters for selected Pattern
                                ul.nav.nav-tabs(role='tablist')#tabPanel
                                    li(role='presentation')
                                    //    a#button_tab_1(href='#tab_1' aria-controls="settings" role="tab" data-toggle="tab") SC1

                                .tab-content.fill#tabContent
                                 //   .tab-pane.fill.active#tab_1(role="tabpanel" style="float:right; width:80%; padding-right:5%")

                                        .form-group#globalElementForm
                                            label.col-lg-2.control-label(for='feature') Feature 1
                                            .col-lg-10
                                                input#feature1.form-control(type='text',required='required',readonly='')

                                        .form-group#operatorForm
                                            label.col-lg-2.control-label(for='operator') Operator 1
                                            .col-lg-10
                                                input#operator1.form-control(type='text',style="width:100%",readonly='')

                                        .form-group#predicateForm
                                            label.col-lg-2.control-label(for='predicate') Predicate 1
                                            .col-lg-10
                                                input#predicate1.form-control(type='text',style="width:100%",readonly='')

                                        .form-group#valueForm
                                            label.col-lg-2.control-label(for='value') Value 1
                                            .col-lg-10
                                                input#value1.form-control(type='text', name='value', required='required',readonly='')

                                        .form-group#filterForm
                                            label.col-lg-2.control-label(for='filter') Filter 1
                                            .col-lg-10
                                                input#filter1.form-control(type='text', name='filter', required='required',readonly='')

                            .form-group#actionForm
                                label.col-lg-2.control-label Action
                                .col-lg-10
                                    .form-group
                                        label.col-lg-2.control-label Name
                                        .col-lg-10
                                            input#actionName.form-control(type='text',style="width:100%",required='required',readonly='')

                                    .form-group
                                        label.col-lg-2.control-label Type
                                        .col-lg-10
                                            input#actionType.form-control(type='text',style="width:100%",required='required',readonly='')

                                    .form-group
                                        label.col-lg-2.control-label Parameters
                                        .col-lg-10
                                            input#actionParameters.form-control(type='text',style="width:100%",required='required',readonly='')

                            .form-group#windowTimeForm
                                label.col-lg-2.control-label(for='windowTime') Bounded in a Time Window of (min)
                                .col-lg-10
                                    input#windowTime.form-control(type='text',style="width:100%",required='required',readonly='')

                            .form-group#windowSizeForm
                                label.col-lg-2.control-label(for='windowSize') Number of Elements in Window
                                .col-lg-10
                                    input#windowSize.form-control(type='text',style="width:100%",required='required',readonly='')