extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/source_level.css')
    script(src='/js/d3.min.js')
    script(src='/js/cola.d3.min.js')
    script(src='/js/client_view_source_level.js')
    script(src='/js/client_view_source_level_d3.js')

    link(rel='stylesheet', href='/js/highlight/styles/railscasts.css')
    script(src='/js/highlight/highlight.pack.js')
block content


    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 View Source Level
                    h3
                        #theTitle
                    h4
                        #theURL

        h5
            span.label Metadata Model
            | &nbsp;
            span.label(style="background-color: #FF3300")
                | S:Event
            | &nbsp;&nbsp;
            span.label(style="background-color: #FECB98")
                | S:SchemaVersion
            | &nbsp;&nbsp;
            span.label(style="background-color: #808000")
                | dcat:mediaType
            | &nbsp;&nbsp;
            span.label(style="background-color: #993366")
                | S:EmbeddedObject
            | &nbsp;&nbsp;
            span.label(style="background-color: #00FF00")
                | S:Array
            | &nbsp;&nbsp;
            span.label(style="background-color: #00CCFF")
                | S:Attribute
            | &nbsp;&nbsp;
            span.label(style="background-color: #F7819F")
                | S:KafkaTopic
            | &nbsp;&nbsp;



    #sourceLevelWrapper

    pre#text
        code.xml#xml